* {
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #eee;
  margin: 0;
}
.root {
  display: flex;
  flex-direction: column;
}

.navbar-brand {
  font-size: 2rem;
  text-decoration: none;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  background-color: #cfd2e0;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1rem;
  width: 300px;
  position: relative;
}

.product img {
  object-fit: cover;
  height: 450px;
  max-width: 100%;
}

.product-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1px;
}

.product-info p {
  margin: 0;
}

.navbar {
  padding: 1rem 3rem;
  background-color: #0da13e !important;
}
.buttons {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: flex-end;
}
.btn-primary {
  margin-left: 1.5rem;
}
.search {
  width: 100%;
  justify-content: center;
  background-color: #bdbdbd;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.search-input {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.dropbtn {
  background-color: rgb(199, 191, 191);
}

/* .dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 40;
  border: none;
} */

/*
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */

/* Sidebar */
.sidebar {
  height: 100%;
  width: 20rem;
  background-color: #2f4050;
}

.sidebar-list {
  height: auto;
  padding: 0;
  width: 100%;
}

.sidebar-list .row {
  width: 100%;
  height: 4rem;
  margin: 0;
  /* border: 1px solid black; */
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.sidebar-list .row:hover {
  cursor: pointer;
  background-color: #293846;
}
.sidebar-list #active {
  background-color: #293846;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}
.row #title {
  flex: 70%;
}

/* Detail Page */
.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.image-container {
  align-items: center;
  /* width: 10rem;
  height: 10rem; */
}

.detail-container {
  display: flex;
  flex-direction: column;
}
